*{
    margin: 0;
    padding: 0;
}

body{
    /* IE10+ */
    background-image: -ms-radial-gradient(right bottom, ellipse farthest-corner, #58FF2E 0%, #DB4334 80%, #DB4334 100%);

    /* Mozilla Firefox */
    background-image: -moz-radial-gradient(right bottom, ellipse farthest-corner, #58FF2E 0%, #DB4334 80%, #DB4334 100%);

    /* Opera */
    background-image: -o-radial-gradient(right bottom, ellipse farthest-corner, #58FF2E 0%, #DB4334 80%, #DB4334 100%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(radial, right bottom, 0, right bottom, 572, color-stop(0, #58FF2E), color-stop(80, #DB4334), color-stop(100, #DB4334));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-radial-gradient(right bottom, ellipse farthest-corner, #58FF2E 0%, #DB4334 80%, #DB4334 100%);

    /* W3C Markup */
    background-image: radial-gradient(ellipse farthest-corner at right bottom, #58FF2E 0%, #DB4334 80%, #DB4334 100%);
}

#startCenter{
    margin: auto;
    width: 474px;
}

#messageBox {
    color: #555;
    border-radius: 10px;
    font-family: Tahoma, Geneva, Arial, sans-serif;
    font-size: 11px;
    padding: 10px 10px 10px 36px;
    margin: 10px;
    background:#e9ffd9 url('success.png') no-repeat 10px 50%;
    border:1px solid #a6ca8a;
}

a{
    position: relative;
    vertical-align: top;
    height: 50px;
    border-radius: 0 10px 0 10px;
    padding: 5px;
    font-size: 20px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #e74c3c;
    border: 0;
    border-bottom: 2px solid #db4334;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #db4334;
    box-shadow: inset 0 -2px #db4334;
    margin-left: 20px;
    margin-bottom: 10px;
}

a:hover {
    background: #e74635;
    border-bottom: 2px solid #e74635;
    -webkit-box-shadow: inset 0 -2px #e74635;
    box-shadow: inset 0 -2px #e74635;
}
a:active {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

input[type="submit"]{
    position: relative;
    vertical-align: top;
    height: 50px;
    border-radius: 0 10px 0 10px;
    padding: 5px;
    font-size: 20px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #e74c3c;
    border: 0;
    border-bottom: 2px solid #db4334;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #db4334;
    box-shadow: inset 0 -2px #db4334;
    margin-left: 20px;
    margin-bottom: 10px;
}
input.aj{
    border-radius:0 10px 10px 0;
    margin-left: 0;
}

input.back{
    margin: 0;
    padding: 0;
    border-radius:0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
input.back:active{
    margin: 0;
    padding: 0;
    border-radius:0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

input[type="submit"]:hover {
    background: #e74635;
    border-bottom: 2px solid #e74635;
    -webkit-box-shadow: inset 0 -2px #e74635;
    box-shadow: inset 0 -2px #e74635;
}
input[type="submit"]:active {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
input[type="text"]{
    position: relative;
    vertical-align: top;
    height: 50px;
    border-radius: 10px 0 0 10px;
    padding: 5px;
    font-size: 20px;
    color: #db4334;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    border: 0;
    border-bottom: 2px solid #db4334;
    -webkit-box-shadow: inset 0 -2px #db4334;
    box-shadow: inset 0 -2px #db4334;
    margin-left: 20px;
    margin-bottom: 0;
    margin-right: 0;
}

.center500{
    width:600px;
    margin: auto;
}

table{
    margin-left: 100px;
    border-collapse: collapse;
}

th {
    color:#D5DDE5;;
    background: #194d3c;
    border-bottom:4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size:23px;
    font-weight: 100;
    padding:24px;
    text-align:left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align:middle;
}

th:first-child {
    border-top-left-radius:0;
}

th:last-child {
    border-top-right-radius:20px;
    border-right:none;
}

tr {
    border-top: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
    color:#666B85;
    font-size:16px;
    font-weight:normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:hover td {
    background:#4E5066;
    color:#FFFFFF;
}

tr:first-child {
    border-top:none;
}

tr:last-child {
    border-bottom:none;
}

tr:nth-child(odd) td {
    background:#EBEBEB;
}

tr:nth-child(odd):hover td {
    background:#4E5066;
}

tr:last-child td:first-child {
    border-bottom-left-radius:3px;
}

tr:last-child td:last-child {
    border-bottom-right-radius:3px;
}

td {
    background:#FFFFFF;
    padding:10px;
    text-align:left;
    vertical-align:middle;
    font-weight:300;
    font-size:18px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
}

td:last-child {
    border-right: 0;
}

th.text-left {
    text-align: left;
}

th.text-center {
    text-align: center;
}

th.text-right {
    text-align: right;
}

td.text-left {
    text-align: left;
}

td.text-center {
    text-align: center;
}

td.text-right {
    text-align: right;
}
